extends layout

block content
    .side-body.padding-top
        .row.no-margin-bottom
            .col-xs-12
                .row
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-2.col-sm-3.col-xs-6
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete