extends layout

block content
    .side-body.padding-top
        .row.no-margin-bottom
            .col-xs-12
                .row
                    .col-md-3.col-sm-6.col-xs-12
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-3.col-sm-6.col-xs-12
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-3.col-sm-6.col-xs-12
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
                    .col-md-3.col-sm-6.col-xs-12
                        .thumbnail.no-margin-bottom
                            img.img-responsive(src='/images/picjumbo.com_IMG_3241.jpg')
                            .caption
                                h3#thumbnail-label
                                    | Movie Title
                                    a.anchorjs-link(href='#thumbnail-label')
                                        span.anchorjs-icon
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#', role='button') Edit
                                    | &nbsp;
                                    a.btn.btn-danger(href='#', role='button') Delete
