extends layout

block content
    .side-body
        .row.no-margin-bottom
            .col-xs-12
                form(action='/movies/add', method='post')
                    .row
                        .col-md-9
                            .row
                                .col-md-12
                                    .card
                                        .card-body
                                            div
                                                input.form-control(name='title', type='text', placeholder='Movie Title', value='' required='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Plot
                                        .card-body
                                            textarea.form-control(name='plot', rows='12')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Background
                                        .card-body
                                            .sub-title
                                                | Director &nbsp;
                                                button.btn.btn-xs.btn-primary(type='button') Add
                                            div
                                                input.form-control(name='director', type='text', placeholder='Director', value='')
                                            .sub-title
                                                | Studio &nbsp;
                                                button.btn.btn-xs.btn-primary(type='button') Add
                                            div
                                                input.form-control(name='studio', type='text', placeholder='Studio', value='')
                                            .sub-title
                                                | Starring &nbsp;
                                                button.btn.btn-xs.btn-primary(type='button') Add
                                            div
                                                input.form-control(name='starring', type='text', placeholder='Starring', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Media
                                        .card-body
                                            .sub-title
                                                | IMDB
                                            div
                                                input.form-control(name='imdbLink', type='text', placeholder='IMDB Link', value='')
                                            .sub-title
                                                | YouTube Trailer &nbsp;
                                                button.btn.btn-xs.btn-primary(type='button') Add
                                            div
                                                input.form-control(name='youtubeTrailerLink', type='text', placeholder='Studio', value='')
                                            .sub-title
                                                | Images &nbsp;
                                                button.btn.btn-xs.btn-primary(type='button') Add
                                            div
                                                input.form-control(name='image', type='text', placeholder='Image', value='')
                        .col-md-3
                            .row
                                .col-md-12
                                    div(align='right')
                                        button.btn.btn-lg.btn-primary(name='submit', type='submit') Publish
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Year
                                        .card-body
                                            div
                                                input.form-control(name='year', type='text', placeholder='Year', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Genre
                                        .card-body
                                            div
                                                input.form-control(name='genre', type='text', placeholder='Genre', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Gross Ticket Sales
                                        .card-body
                                            input.form-control(name='grossTicketSales', type='text', placeholder='Gross TIcket Sales', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Poster Image
                                        .card-body
                                            input.form-control(name= 'posterImage', type='text', placeholder='Poster Image', value='')
