extends layout

block content
    .side-body
        .row.no-margin-bottom
            .col-xs-12
                form(action='/movies/add', method='post')
                    .row
                        .col-md-9
                            .row
                                .col-md-12
                                    .card
                                        .card-body
                                            div
                                                input.form-control(name='title', type='text', placeholder='Movie Title', value='' required='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Plot / Synopsis
                                        .card-body
                                            textarea.form-control(name='plot', rows='12')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Background
                                        .card-body
                                            .sub-title
                                                | Director
                                            div
                                                input.form-control(name='director1', type='text', placeholder='Director 1', value='')
                                                input.form-control(name='director2', type='text', placeholder='Director 2', value='')
                                                input.form-control(name='director3', type='text', placeholder='Director 3', value='')
                                            .sub-title
                                                | Studio
                                            div
                                                input.form-control(name='studio1', type='text', placeholder='Studio 1', value='')
                                                input.form-control(name='studio2', type='text', placeholder='Studio 2', value='')
                                                input.form-control(name='studio3', type='text', placeholder='Studio 3', value='')
                                                input.form-control(name='studio4', type='text', placeholder='Studio 4', value='')
                                                input.form-control(name='studio5', type='text', placeholder='Studio 5', value='')
                                            .sub-title
                                                | Starring
                                            div
                                                input.form-control(name='starring1', type='text', placeholder='Starring 1', value='')
                                                input.form-control(name='starring2', type='text', placeholder='Starring 2', value='')
                                                input.form-control(name='starring3', type='text', placeholder='Starring 3', value='')
                                                input.form-control(name='starring4', type='text', placeholder='Starring 4', value='')
                                                input.form-control(name='starring5', type='text', placeholder='Starring 5', value='')
                                                input.form-control(name='starring6', type='text', placeholder='Starring 6', value='')
                                                input.form-control(name='starring7', type='text', placeholder='Starring 7', value='')
                                                input.form-control(name='starring8', type='text', placeholder='Starring 8', value='')
                                                input.form-control(name='starring9', type='text', placeholder='Starring 9', value='')
                                                input.form-control(name='starring10', type='text', placeholder='Starring 10', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .title Media
                                        .card-body
                                            .sub-title
                                                | IMDB
                                            div
                                                input.form-control(name='imdbLink', type='text', placeholder='IMDB Link (URL)', value='')
                                            .sub-title
                                                | Trailer Link
                                            div
                                                input.form-control(name='trailerLink1', type='text', placeholder='Traler 1 (URL)', value='')
                                                input.form-control(name='trailerLink2', type='text', placeholder='Trailer 2 (URL)', value='')
                                                input.form-control(name='trailerLink3', type='text', placeholder='Trailer 3 (URL)', value='')
                                            .sub-title
                                                | Image Gallery
                                            div
                                                input.form-control(name='imageLink1', type='text', placeholder='Image 1 (URL)', value='')
                                                input.form-control(name='imageLink2', type='text', placeholder='Image 2 (URL)', value='')
                                                input.form-control(name='imageLink3', type='text', placeholder='Image 3 (URL)', value='')
                                                input.form-control(name='imageLink4', type='text', placeholder='Image 4 (URL)', value='')
                        .col-md-3
                            .row
                                .col-md-12
                                    div(align='right')
                                        button.btn.btn-lg.btn-primary(name='submit', type='submit') Publish
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Year
                                        .card-body
                                            div
                                                input.form-control(name='year', type='text', placeholder='Year', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Genre
                                        .card-body
                                            div
                                                input.form-control(name='genre', type='text', placeholder='Genre', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Gross Ticket Sales
                                        .card-body
                                            input.form-control(name='grossTicketSales', type='text', placeholder='Gross TIcket Sales', value='')
                                .col-md-12
                                    .card
                                        .card-header
                                            .card-title
                                                .sub-title Poster Image
                                        .card-body
                                            input.form-control(name= 'posterImage', type='text', placeholder='Poster Image', value='')
