footer.app-footer
    .wrapper
        span.pull-right
            a(href='https://github.com/jovanidash21/coen3463-m3t6', target='_blank')
                | Github&nbsp;
                i.fa.fa-github
        |  &copy; 2017 Copyright. Metro Manila Film Festival - Movies&nbsp;
        i.fa.fa-play-circle
