footer.app-footer
    .wrapper
        span.pull-right
            | Metro Manila Film Festival - Movies &nbsp;
            a(href='#')
                i.fa.fa-play-circle
        |  &copy; 2017 Copyright.
