nav.navbar.navbar-default.navbar-fixed-top.navbar-top.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-expand-toggle(type='button')
                i.fa.fa-bars.icon
            ol.breadcrumb.navbar-breadcrumb
                li.active Dashboard
            button.navbar-right-expand-toggle.pull-right.visible-xs(type='button')
                i.fa.fa-th.icon
        ul.nav.navbar-nav.navbar-right
            li.dropdown.profile
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Administrator
                    span.caret
                ul.dropdown-menu.animated.fadeInDown
                    li.profile-img
                        img.profile-img(src='/images/administrator.png')
                    li
                        .profile-info
                            h4.username Administrator
