body.login-page
{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.login-page .login-form
{
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 5px;
}
body.login-page .login-form .login-header
{
    margin: 20px 0;
}
body.login-page .login-form .login-header .img-responsive
{
    margin: 0 auto;
}
body.login-page .login-form input
{
    font-size: 18px;
    padding: 10px;
}
body.login-page .login-button .btn
{
    font-size: 21px;
    padding: 5px;
    width: 100%;
}
.navbar .dropdown.profile .dropdown-menu
{
    width: 300px;
}
h3#thumbnail-label
{
    display:inline-block;
    font-size: 14px;
    height: 16px;
    overflow:hidden !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input[type="text"]
{
    margin: 3px 0;
}
input[name="title"]
{
    font-size: 25px;
    padding: 20px 10px;
}
.card .title,
.card .sub-title
{
    font-weight: bold;
}