h3#thumbnail-label
{
    display:inline-block;
    font-size: 14px;
    height: 14px;
    overflow:hidden !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input[type="text"]{
    margin: 3px 0;
}