body.login-page
{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}
body.login-page .form
{
    background: rgba(10, 10, 10, 0.9);
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 15px;
}
body.login-page .logo
{
    margin-bottom: 10px;
}
body.login-page .tab-group
{
    margin-bottom: 20px;
}
body.login-page .tab-group li a
{
    font-size: 18px;
    padding: 8px;
}
body.login-page .alert-message
{
    color: #a93127;
    margin: 10px 0;
}
body.login-page .field-wrap
{
    margin-bottom: 25px;
}
body.login-page input,
body.login-page label
{
    font-size: 18px;
}
body.login-page label.active
{
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    left: 2px;
    font-size: 15px;
}
body.login-page .button
{
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
}
.navbar .dropdown.profile .dropdown-menu
{
    width: 300px;
}
.search-text,
.search-btn
{
    margin: 0 !important;
}
.row.no-margin-bottom > div >  div > [class*="col-"]
{
    margin-bottom: 10px;
}
.row > div > [class*="col-"] {
    margin-bottom: 25px;
}
h3#thumbnail-label
{
    display:inline-block;
    font-size: 14px;
    height: 16px;
    overflow:hidden !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h3#thumbnail-label a:hover,
.datatable tbody td a:hover
{
    text-decoration: underline;
}
span.required
{
    color: #ee3926;
}
input[type="text"]
{
    margin: 3px 0;
}
input[name="title"]
{
    font-size: 25px;
    padding: 20px 10px;
}
.card .title,
.card .sub-title
{
    font-weight: bold;
}
span.select2.select2-container.select2-container--default
{
    width: 100% !important;
}